# Get your Open AI API Key by following these instructions -
# https://help.openai.com/en/articles/4936850-where-do-i-find-my-openai-api-key
# You only need this environment variable set if you are using GPT (and not Ollama)
OPENAI_API_KEY=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

# For the Supabase version (sample_supabase_agent.py), set your Supabase URL and Service Key.
# Get your SUPABASE_URL from the API section of your Supabase project settings -
# https://supabase.com/dashboard/project/<your project ID>/settings/api
SUPABASE_URL=https://jblqpqyaqrpfrscsuuwg.supabase.co

# Get your SUPABASE_SERVICE_KEY from the API section of your Supabase project settings -
# https://supabase.com/dashboard/project/<your project ID>/settings/api
# On this page it is called the service_role secret.
SUPABASE_SERVICE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpibHFwcXlhcXJwZnJzY3N1dXdnIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc0MDAxMDgyNSwiZXhwIjoyMDU1NTg2ODI1fQ.K_kGTi5j8bRViOb5oY3L9MMXSvxSBgPmWs8pXj8mOXM

# The LLM you want to use from OpenAI. See the list of models here:
# https://platform.openai.com/docs/models
# Example: gpt-4o-mini
LLM_MODEL=gpt-4o-mini